* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  background-color: grey;
  color: white;
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(227, 227, 227);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
  gap: 20px;
}

.shop {
  margin-top: 20px;
}

.items {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

.item-image {
  width: 350px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
}

.item-image:hover {
  transform: scale(1.01);
}

.item-image {
  background-color: rgb(244, 244, 244);
  margin-bottom: 10px;
}

.purchase-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.quantity-form input {
  width: 50px;
}

.increment-decrement {
  display: flex;
  gap: 5px;
}

.increment-decrement button {
  padding: 3px 10px !important;
}

.quantity-form {
  display: flex;
  align-items: center;
  gap: 10px;
}