* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: grey;
  color: white;
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}
